/* =====================================================================================================
    SETTINGS
=====================================================================================================
 */
/* =====================================================================================================
    END SETTINGS
===================================================================================================== 
*/
/* =====================================================================================================
    TOOLS - FUNCTIONS
=====================================================================================================
 */
/* =====================================================================================================
     END TOOLS - FUNCTIONS
 ===================================================================================================== 
 */
/* =====================================================================================================
    TOOLS - MIXINS
=====================================================================================================
 */
/* =====================================================================================================
    END TOOLS - MIXINS
===================================================================================================== 
*/
/* =====================================================================================================
    GENERIC
=====================================================================================================
 */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  outline: 0px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:hover, *:active, *:focus, *:visited,
*:after:hover,
*:after:active,
*:after:focus,
*:after:visited,
*:before:hover,
*:before:active,
*:before:focus,
*:before:visited {
  outline: 0px solid;
}

/* =====================================================================================================
    END GENERIC
===================================================================================================== 
*/
/* =====================================================================================================
    TAGS
=====================================================================================================
 */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

/* =====================================================================================================
     END TAGS
 ===================================================================================================== 
 */
/* =====================================================================================================
    OBJECT - CONTAINER
=====================================================================================================
 */
.o-container {
  max-width: 100%;
  width: 1200px;
  display: block;
  margin: 0 auto;
}

/* =====================================================================================================
    END OBJECT - CONTAINER
===================================================================================================== 
*/
/* =====================================================================================================
    OBJECT - COLOR
=====================================================================================================
 */
.o-color-primary {
  color: red;
}

.o-color-secondary {
  color: lightgreen;
}

/* =====================================================================================================
    END OBJECT - COLOR
===================================================================================================== 
*/
/* =====================================================================================================
    OBJECT - o-text-align
=====================================================================================================
 */
.o-text-align-left {
  text-align: left;
}

.o-text-align-right {
  text-align: right;
}

.o-text-align-center {
  text-align: center;
}

.o-text-align-justify {
  text-align: justify;
}

/* =====================================================================================================
   END OBJECT - o-text-align
===================================================================================================== 
*/
/* =====================================================================================================
    COMPONENT - HEADER
=====================================================================================================
 */
.c-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightblue;
  padding: 20px;
  outline: 1px solid darkblue;
  margin-bottom: 40px;
}

.c-header__col {
  width: 50%;
  display: block;
  background-color: lightgreen;
  padding: 20px;
  outline: 1px solid darkgreen;
}

.c-header__menu {
  width: 100%;
  display: block;
  background-color: lightcoral;
  color: black;
  padding: 20px;
  outline: 1px solid darkred;
}

.c-header__menu-link {
  color: black;
  display: inline-block;
  padding-right: 10px;
  text-decoration: none;
}

.c-header__menu-link--white {
  color: white;
}

/* =====================================================================================================
   END COMPONENT - HEADER
===================================================================================================== 
*/
/* =====================================================================================================
    COMPONENT - FOOTER
=====================================================================================================
 */
.c-footer {
  font-size: 20px;
  line-height: 22px;
}

.c-footer__menu {
  display: block;
  width: 100%;
}

@media (min-width: 1101px) {
  .c-footer__menu {
    width: 50%;
  }
}

/* =====================================================================================================
   END COMPONENT - FOOTER
===================================================================================================== 
*/
/* =====================================================================================================
    COMPONENT - TABS
=====================================================================================================
 */
.c-tabs {
  display: block;
  width: 100%;
}

.c-tabs__title {
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 22px;
}

.c-tabs__content {
  text-decoration: none;
  display: inline-block;
}

/* =====================================================================================================
   END COMPONENT - TABS
===================================================================================================== 
*/
/* =====================================================================================================
    COMPONENT - FORM
=====================================================================================================
 */
.c-form {
  width: 480px;
  display: block;
  background-color: lightblue;
  padding: 20px;
  outline: 1px solid darkblue;
  margin: 0 auto;
  margin-top: 15px;
}

.c-form__field {
  width: 100%;
  display: block;
  background-color: lightgreen;
  padding: 20px;
  outline: 1px solid darkgreen;
  margin-bottom: 20px;
}

.c-form__field--last {
  margin-bottom: 0px;
}

.c-form__label {
  width: 100%;
  display: block;
  color: black;
  padding-bottom: 5px;
}

.c-form__input {
  width: 100%;
  margin-top: 10px;
}

/* =====================================================================================================
   END COMPONENT - FORM
===================================================================================================== 
*/
/* =====================================================================================================
    COMPONENT - BUTTON
=====================================================================================================
 */
.c-button {
  width: auto;
  padding: 4px 16px;
  color: white;
  background-color: green;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
}

.c-button:hover {
  background-color: black;
}

.c-button--little {
  width: auto;
  padding: 2px 5px;
  color: white;
  background-color: yellowgreen;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.c-button--little:hover {
  background-color: black;
}

.c-button--big {
  width: auto;
  padding: 10px 30px;
  color: white;
  background-color: blueviolet;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.c-button--big:hover {
  background-color: black;
}

/* =====================================================================================================
   END COMPONENT - BUTTON
===================================================================================================== 
*/
/* =====================================================================================================
    UTILITIES
=====================================================================================================
 */
.u-none {
  display: none;
}

.u-tar {
  text-align: right !important;
}

/* =====================================================================================================
   END UTILITIES
===================================================================================================== 
*/
/*# sourceMappingURL=styles.css.map */