/* =====================================================================================================
    SETTINGS
=====================================================================================================
 */
/* =====================================================================================================
    END SETTINGS
===================================================================================================== 
*/
/* =====================================================================================================
    TOOLS - FUNCTIONS
=====================================================================================================
 */
/* =====================================================================================================
     END TOOLS - FUNCTIONS
 ===================================================================================================== 
 */
/* =====================================================================================================
    TOOLS - MIXINS
=====================================================================================================
 */
/* =====================================================================================================
    END TOOLS - MIXINS
===================================================================================================== 
*/
/* =====================================================================================================
    GENERIC
=====================================================================================================
 */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  outline: 0px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:hover, *:active, *:focus, *:visited,
*:after:hover,
*:after:active,
*:after:focus,
*:after:visited,
*:before:hover,
*:before:active,
*:before:focus,
*:before:visited {
  outline: 0px solid;
}

/* =====================================================================================================
    END GENERIC
===================================================================================================== 
*/
/* =====================================================================================================
    TAGS
=====================================================================================================
 */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

/* =====================================================================================================
     END TAGS
 ===================================================================================================== 
 */
/* =====================================================================================================
    OBJECT - CONTAINER
=====================================================================================================
 */
.container {
  max-width: 100%;
  width: 1200px;
  display: block;
  margin: 0 auto;
}

/* =====================================================================================================
    END OBJECT - CONTAINER
===================================================================================================== 
*/
/* =====================================================================================================
    OBJECT - COLOR
=====================================================================================================
 */
.color-primary {
  color: red;
}

.color-secondary {
  color: lightgreen;
}

/* =====================================================================================================
    END OBJECT - COLOR
===================================================================================================== 
*/
/* =====================================================================================================
    COMPONENT - FOOTER
=====================================================================================================
 */
.footer {
  font-size: 20px;
  line-height: 22px;
}

.footer__menu {
  display: block;
  width: 100%;
}

@media (min-width: 1101px) {
  .footer__menu {
    width: 50%;
  }
}

/* =====================================================================================================
   END COMPONENT - FOOTER
===================================================================================================== 
*/
/* =====================================================================================================
    COMPONENT - TABS
=====================================================================================================
 */
.tabs {
  display: block;
  width: 100%;
}

.tabs__title {
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 22px;
}

.tabs__content {
  text-decoration: none;
  display: inline-block;
}

/* =====================================================================================================
   END COMPONENT - TABS
===================================================================================================== 
*/
/* =====================================================================================================
    UTILITIES
=====================================================================================================
 */
.none {
  display: none;
}

.tar {
  text-align: right !important;
}

/* =====================================================================================================
   END UTILITIES
===================================================================================================== 
*/
/*# sourceMappingURL=styles.css.map */