/* =====================================================================================================
    UTILITIES
=====================================================================================================
 */

 .u-none{
    display: none!important;

    &\@md{
        @include md{
            display: none!important;
        }
    }
}

.u-tar{
    text-align: right!important;
}

/* =====================================================================================================
   END UTILITIES
===================================================================================================== 
*/