/* =====================================================================================================
    COMPONENT - FOOTER
=====================================================================================================
 */

 .footer{
    font-size: 20px;
    line-height: 22px;

    &__menu{
        display: block;
        width: 100%;

        @include md{
            width: 50%;
        }
    }
}

/* =====================================================================================================
   END COMPONENT - FOOTER
===================================================================================================== 
*/